<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>花果山水果网后台管理系统</title>
    <link rel="stylesheet" href="../../public/admin/CSS/bootstrap.css">
    <link rel="stylesheet" href="../../public/admin/CSS/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/admin/CSS/admin.css">
    <link rel="stylesheet" href="../../public/CSS/comment.css">
</head>
<body>
<div class="header">
    <div class="logo">
        <img src="../../public/admin/image/logo.png">
    </div>
    <div class="title">
        <h1>花果山水果网后台管理系统</h1>
    </div>
    <div class="user-info">
        <span id="account">管理员: {{a_user}}</span>
        <a href="/back/adminLogin" class="logout">注销</a>
    </div>
</div>
<!--主体部分-->
<div class="main">
    <div class="left">
        <ul class="menu">
            <li class="submenu"><a href="/back/backIndex?page=1">商品管理</a></li>
            <li id="amer"><a href="/back/backIndex?page=1">水果信息</a></li>
            <li><a href="/back/backIndex?page=1">水果分类</a></li>
            <li><a href="/back/showSelectFruits">信息查询</a></li>
            <li class="submenu"><a href="/back/backIndex?page=1">订单管理</a></li>
            <li id="order">订单列表</li>
            <li><a href="/back/backIndex?page=1">退货处理</a></li>
            <li><a href="/back/backIndex?page=1">销售统计</a></li>
            <li class="submenu"><a href="/back/backIndex?page=1">评价管理</a></li>
            <li><a href="/back/comment">评价中心</a></li>
            <li class="submenu"><a href="/back/backIndex?page=1">系统设置</a></li>
            <li id="list">管理员列表</li>
            <li><a href="/back/updateAdmin?id={{a_id}}">修改密码</a></li>
            <li><a href="/back/adminLoginOut" id="quit">安全退出</a></li>
        </ul>
    </div>
    <!--订单列表-->
    <div class="orderList">
        <div class="link-nav">
            <ul>
                <li><a herf="/back/backIndex?page=1">系统设置 ></a></li>
                <li><a herf="/back/backIndex?page=1">评论管理</a></li>
            </ul>
        </div>
        <h4>用户评论</h4>
       {{if !comments}}
        <h1>暂无评论</h1>
        {{else}}
            {{each comments comment}}
                <hr style="border:0.5px solid black;width:900px;">
                <div class="comment">
                    <span class="goodsId" style="display:none;">{{comment.f_id}}</span>
                    <img src="../../public/image/{{comment.f_picurl}}">
                    <span>{{comment.f_name}}，货源充足保证质量</span>
                    <div class="comments">
                        <p class="user"><span class="uname">{{comment.userName}}:</span><span>{{comment.c_content}}</span></p>
                        <p class="createtime">{{comment.c_time.toLocaleString()}}</p>
                    </div>
                </div>
            {{/each}}
        {{/if}}
<br>
<br>
        <h4>回复的评论</h4>

        {{each replys reply}}
            <div class="commentReply">
                <span class="goodsId">{{reply.name}}</span>
                <span>{{reply.content}}</span>
            </div>
        {{/each}}

        <hr style="border:1px dashed black;width:900px;">
        <!--回复评论-->
        <div class="publish">
            <form action="/back/reply" method="get">
                <span>回复</span>
                <input type="text" value="" name="name" class="name">
                <br>
                <br>
                <span style="vertical-align: top;">评论</span>
                <input type="hidden" value="" name="f_id" class="f_id">
                <!--<input type="text" value="" name="user_id">-->
                <textarea name="comment" cols="100" rows="5"></textarea><br>
                <input type="submit" value="发表回复">
            </form>
        </div>
    </div>
</div>
</body>
<script src="../../public/admin/JS/jquery-1.12.4.js"></script>
<script src="../../public/admin/JS/jquery-1.11.0.js"></script>
<script src="../../public/admin/JS/bootstrap.js"></script>
<script src="../../public/JS/comment.js"></script>
<script>
    //下架商品
    $(".submit").click(function () {
        $(this).parent().parent().remove();
    });
    // 移除管理员
    $(".remove").click(function () {
        $(this).parent().parent().remove();
    });
    $("#quit").click(function () {
        if (confirm("您确定要关闭本页吗？")) {
            window.close();
        }
    });
</script>
</html>