/*收藏内容部分*/
.main_collect{
    font-size: 16px;
    padding: 11px 0 11px 60px;
    min-height: 500px;
}
.main_collect section{
    position: relative;
    display: block;
    overflow: hidden;
    color: #4a4a4a;
}
.collect_title{
    padding: 25px 0 10px;
    margin: 0 30px 0 0;
    border-bottom: 1px solid #e7e7e7;
}
.collect_title p{
    color: #845f3f;
    font-size: 18px;
    font-weight: 400;
}
.collect_content_goods{
    padding: 10px 32px 10px 0!important;
    line-height: 120px;
    border-bottom: 1px dashed #e7e7e7;
    overflow: hidden;
}
.collect_goods_img{
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    margin-right: 25px;
    float: left;
    cursor: pointer;
}
.collect_goods_text{
    height: 120px;
    line-height: 120px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.collect_goods_button{
    float: right;
    position: relative;
    display: block;
    padding: 0 20px 10px 0;
}
.collect_goods_button a{
    color: #666;
    border: 1px solid #666;
    height: 36px;
    line-height: 34px;
    font-size: 16px;
    width: 110px;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    padding: 0 6px;
    transition: all .5s cubic-bezier(0,1,.5,1);
}
.collect_goods_button a:hover{
    color: white;
    background-color: #845f3f;
}
.goods{
    padding-top: 20px;
    overflow: hidden;
}
.goods ul li a:hover{
    box-shadow: 0 0 10px #b3b3b3;
    margin-top: 0;
    border:none;
    color: #FFFFFF;
}
.goods ul li{
    float: left;
    height: 300px;
    width: 224px;
    margin: 0 50px 25px 0;
}
.goods ul li a{
    float: left;
    height: 100%;
    width: 214px;
    padding: 5px 5px 0;
    text-align: center;
    transition: .5s;
    box-shadow: 0 0 15px transparent;
    border: 1px solid #e6e6e6
}
.goods li a .f_img{
    width: 214px;
    height: 160px;
}
.goods li a .f_title{
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;/*文本不会换行*/
}
.goods li a .f_price{
    color: #009933;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.goods li a .f_describe{
    color: #a1a1a1;
    height: 30px;
    line-height: 30px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;/*规定段落中的文本不进行换行*/
}
.delCollect{
    margin: 0 auto;
    text-align: center;
    border: 1px solid grey;
    width: 100px;
    line-height: 35px;
}
.delCollect:hover{
    background: #c0a16b;
    color: white;
}