/*订单内容部分*/
.main_box{
    padding: 11px 0 11px 60px;
    color: #4a4a4a;
}
.order_main_nav{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
}
.order_main_nav>ul{
    height: inherit;
}
.order_main_nav>ul li+li{
    margin-left: 40px;
}
.order_main_nav>ul li{
    position: relative;
    padding: 7px 0;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    height: inherit;
}
.order_main_nav>ul li.active{
    color: #845f3f;
    border-bottom: 2px solid #845f3f;
}
.order_main_nav>ul li:before,.order_main_nav>ul li:after{
    border-bottom: 2px solid #845f3f;
    transform: scaleX(0);
    content: "";
    box-sizing: inherit;
    position: absolute;
    bottom: -3px;
    left: 0;
    height: inherit;
    width: 100%;
    transform-origin: center;
}

#already_pay{
    display: block;
}
#wait_comment{
    display: none;
}
#wait_receiving{
    display: none;
}
#all_orders{
    display: none;
}

.order_main_item{
    position: relative;
    padding: 30px 0 15px;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
}
.order_main_item section,.order_main_product{
    display: block;
    position: relative;
    overflow: hidden;
}
.first_section{
    padding-right: 32px;
    margin-bottom: 15px;
}
.order_detail_serial{
    float: left;
}
.serial{
    color: darkgrey;
}
.order_detail_address{
    float: right;
}
.order_main_product{
    margin-top: 0;
}
.order_detail{
    cursor: pointer;
    padding: 10px 32px 10px 0!important;
    line-height: 120px;
    border-bottom: 1px dashed #e7e7e7;
    overflow: hidden;
}
.order_detail_img{
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    margin-right: 25px;
    float: left;
}
.order_detail_text{
    margin-top: 36px;
    height: 84px;
    line-height: 84px;
    float: left;
    margin-right: 140px;
}
.order_detail_content{
    position: relative;
    line-height: 18px;
}
.order_detail_title{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 210px;
    overflow: hidden;
}
.order_detail_price{
    color: #be2d2d;
    margin-top: 10px;
}
.order_detail_time{
    margin-top: 36px;
    height: 84px;
    line-height: 84px;
    float: left;
    margin-right: 75px;
}
.order_detail_number{
    margin-top: 36px;
    height: 84px;
    line-height: 84px;
    float: right;
}
.order_detail_time p,.order_detail_number{
    line-height: 18px;
}
.order_detail_serial p{
    line-height: 18px;
}
.order_detail_aggregate{
    float: right;
    padding: 25px 20px 20px;
}
.order_all_price{
    color: #be2d2d;
}
.order_del_button{
    position: relative;
    display: block;
    padding: 0 20px 10px 0;
    float: right;
    margin-top: 10px;
}
.order_del_button a{
    color: #666;
    border: 1px solid #666;
    height: 36px;
    line-height: 34px;
    font-size: 16px;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    padding: 0 6px;
    transition: all .5s cubic-bezier(0,1,.5,1);
    width: 100px;
}
.order_del_button a:hover{
    background-color: #845f3f;
    color: white;
}
.order_del_button p{
    color: #666;
    border: 1px solid #666;
    height: 36px;
    line-height: 34px;
    font-size: 16px;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    padding: 0 6px;
    transition: all .5s cubic-bezier(0,1,.5,1);
    width: 100px;
    background: none;
    cursor: pointer;
}
.order_del_button p:hover{
    background-color: #845f3f;
    color: white;
}
.add_comment p{
    margin: 15px 0;
}
.add_comment p textarea{
    width: 818px;
    height: 90px;
}
.add_message textarea[placeholder]{
    text-indent: 5px;
}
.add_confirm{
    color: #666;
    border: 1px solid #666;
    height: 36px;
    line-height: 34px;
    font-size: 16px;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    padding: 0 6px;
    transition: all .5s cubic-bezier(0,1,.5,1);
    width: 100px;
    background: none;
    float: right;
    margin-right: 20px;
}
.add_confirm:hover{
    background-color: #845f3f;
    color: white;
}